<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Fight4chuy is an independent effort to bring skilled campaign volunteers to Chicago to help "Chuy" Garcia defeat Rahm Emanuel.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline" style="margin-bottom:0;">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Join us in Chicago</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We are looking for folks who can travel on their own dime to Chicago for at least four days, preferably for a week. We will house and feed you while making sure your talents and enthusiasm are well used.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">We're looking for a wide range of skills</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">don't think that the lack of highly specialized or technical campaign skills means Chuy doesn't need your help! Among the skills we are looking for:</p>
<p>
<ul>
    <li>Graphic design</li>
    <li>Copywriting</li>
    <li>Translation</li>
    <li>Web design and coding</li>
    <li>VAN / Turf cutting</li>
    <li>Photography</li>
    <li>Video shooting / editing / production</li>
    <li>Field and canvassing, esp. experience managing other volunteers</li>
    <li>Social media</li>
</ul>
</p>
                                </div>
                            </div>
                        </li>
                        <!-- <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2012</h4>
                                    <h4 class="subheading">Transition to Full Service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li> -->
                        <li class="timeline">
                            <a href="#join"><div class="timeline-image">
                                    <h4>Be Part
                                        <br>Of Our
                                        <br>Story!</h4>
                                </div></a>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Who we are</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>This effort is organized by veterans of the <strong>Zephyr Teachout campaign</strong>, who fought Gov. Cuomo in a primary last year. Cuomo is our Rahm. It's clear to us that defeating Rahm Emanuel would be a wonderful thing with a national impact - and we want to help. We're in touch with the right people in the Garcia campaign. Our goal is to facilitate the efforts of out of town, skilled campaign volunteers from across the land. There's no way we're gonna let Chuy win without us!</p>
                                    <p>We are proud to be working with Occupy Wall Street, and other partners. Stay tuned!</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <p class="text-center">
                        <a href="#join" class="btn btn-default">Join Us</a>
                    </p>
                </div>
            </div>
        </div>
    </section>