  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <img src="logo.png" alt="">

                    <span class="copyright">Copyright &copy; {{ site.title }} 2014</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks hidden">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>