  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} 2015
                    <br>
                    Site by <a href="http://dhornbein.com">Drew Hornbein</a> / <a href="https://github.com/dhornbein/fight4chuy">Fork it!</a></span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Ffight4chuy.com&t=Fight%204%20Chuy" target="_blank">
                        <i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Ffight4chuy.com&text=Fight%204%20Chuy:%20http%3A%2F%2Ffight4chuy.com" target="_blank" title="Tweet"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://plus.google.com/share?url=http%3A%2F%2Ffight4chuy.com" target="_blank" title="Share on Google+"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="http://www.reddit.com/submit?url=http%3A%2F%2Ffight4chuy.com&title=Fight%204%20Chuy" target="_blank" title="Submit to Reddit"><i class="fa fa-reddit"></i></a></li>
                        <li><a href="mailto:?subject=Fight%204%20Chuy&body=Fight4chuy%20is%20an%20independent%20effort%20to%20bring%20skilled%20campaign%20volunteers%20to%20Chicago%20to%20help%20%22Chuy%22%20Garcia%20defeat%20Rahm%20Emanuel.:%20http%3A%2F%2Ffight4chuy.com" target="_blank" title="Email"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                    <br>
                    <div class="text-center">
                        <a href="https://www.facebook.com/OccupyWallSt"><img src="img/occupy-logo.jpeg" alt="Occupy Wall Street Logo, Which is kinda funny isn't it?"></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><small>photo credit: Garcia for Mayor Campaign</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>