<section id="join">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
          <h2 class="section-heading">Join Us</h2>
          <h4 class="section-subheading text-muted">If you have a question about volunteering and you want to volunteer, please fill out the form.</h4>

          <p class="text-muted">If you have a question about this effort and you are NOT trying to volunteer yourself, feel free to email us at <a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <iframe class="center-block" src="https://docs.google.com/forms/d/1FG9GILZwRV5McxJP23avB0BcrBSKAxak70lOKub7wZM/viewform?embedded=true" style="width:100%" height="700" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
      </div>
    </div>
  </div>
</section>